.comic {
  font-family:cursive;
}

.bold {
  font-family: fantasy;
  font-weight: 700;
  font-size: larger;

}

.regular {
  font-size: large;
}

.big {
  font-size: x-large;
}

.small {
  font-style: oblique;
  font-size: larger;
}