.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Style content with shaded background */
.content {
  background-color: antiquewhite;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  width: 800px;
  @media print {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    &:not(:first-child) {
      page-break-before: always;
    }
  }
  @media screen {
    border-bottom: 1px solid black;
  }  
}

.header {
  display: grid;
  justify-items: end;
  justify-content: center;
}

.supplementHeader {
  display: grid;
  justify-items: right;
  height: 0;
}

.pagesCounter {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.button {
  padding: 15px;
  @media print {
    padding: 15mm;
  }
}

.name {
  font-size: xx-large;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  width: 60%;
  border-bottom: 1px solid black;
  @media print {
    padding-top: 5mm;
    padding-bottom: 0;
    font-size: 8mm;
  }

}

.taskList {
  background-color: ghostwhite;
  top: 20px;
  border: 1px solid black;
}

.logo {
  max-width: 300px;
  max-height: 150px;
  @media print {
    max-width: 200mm;
    max-height: 40mm;
  }
}

.supplement {
  max-height: 140px;
  padding-right: 35px;
  @media print {
    max-height: 50mm;
    padding-right: 8mm;
  }
}

.rules {
  padding-left: 20px;
  padding-right: 20px;
}

.rule {
  font-size: smaller;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.grid {
  background-color: aquamarine;
}

.github {
  width: 0;
  height: 0;
  
  .url {
    width: max-content;
    transform: rotate(-90deg);
    padding-left: 230px;
    margin-left: -222px;
    color: #ccc;
    @media print {
      -webkit-print-color-adjust: exact;
    }
  }
}

.blurred {
  filter: blur(4px);
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cell {
  border: 4px solid black;
  background-color: aliceblue;
  width: 34mm;
  height: 34mm;
  padding: 5px;
}
.image {
  box-sizing: border-box;
  width: 130px;
}